.graphical-section {
	height: 500px;
}

.graph,
.code {
	border: solid black 1px;
	height: 100%;
	position: relative;
}

.indexes,
.bars {
	height: 100%;
	width: 100%;
	position: absolute;
}

.bar-block {
	position: relative;
}

.bar {
	position: absolute;
	bottom: 0;
	width: 10px;
	background: red;
}

.code {
	font-size: .8rem;
}

.index-container {
	position: relative;
	width:10px;
	z-index: 1;
}

.index {
	margin-top:25px;
}

.index-bar {
	height: 5px;
	width: 10px;
	background: red;
	margin-top:2px;
	display: none;
}