.graphical-section {
	height: 500px;
}

.graph,
.code,
.counter {
	border: solid black 1px;
	height: 100%;
}

.bar-block {
	position: relative;
}

.counter-block {
	position: relative;
	width: 100%;
	opacity: 0;
}

.bar {
	position: absolute;
	bottom: 0;
	width: 10px;
	background: red;
}

.counter-box {
	width: 100%;
    position: absolute;
    height: 70%;
    bottom: 0;
    border: solid 1px;
    display: none;
}

.code {
	font-size: .8rem;
	padding: 15px;
	font-weight: bold;
}

.code .highlight {
	color: red;
}
