.graphical-section {
	height: 500px;
}

.graph,
.code {
	border: solid black 1px;
	height: 100%;
}

.bar-block {
	position: relative;
}

.bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: red;
}
